.TOC {
    background: #eaecee;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 540px) {
    .TOC {
        max-width: 540px;
        border: black solid 1px;
    }
}

.TOC h2 {
    padding: 10px;
    margin: 0;
}

.TOC nav {
    background: white;
}

.TOC nav a {
    display: block;
    padding: 15px 30px 15px 15px;
    /*padding: 30px;*/
    text-decoration: none;
    color: black;
    border-top: 1px solid gray;
    background: url("../rsrc/chevron_right.png") no-repeat center right 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.TOC nav a:last-child {
    border-bottom: 1px solid gray;
}

.TOC nav a:active {
    background-color: lightgray;
}
